 <%- include('partials/header') -%> 

<main class="form-control">

  <div class="text-center">
    <p class="fw-bolder">Welcome to Beauty Review, the best place for baddies to share their beauty (Hair and Makeup) Service Experience</p>
    <p class="fw-bolder">Found a stylist or Makeup artist on IG? Seach their name to see what other baddies are saying about their services</p>
  </div>
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>

   
</main>


<%- include('partials/footer') -%>



