 <!-- <%- include('partials/header') -%> -->
 <!DOCTYPE html>
 <html lang="en">
  
   <head>
     <meta charset="UTF-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>Binary Upload Boom</title>
     <link
       rel="icon"
       type="image/png"
       sizes="32x32"
       href="/imgs/favicon-32x32.png"
     />
 
     
     <link  href="/style.css" type="text/css" rel="stylesheet" />
      
   </head>
<body>
  
 <div class="navbar bg-base-100 justify-between">
  <div class="flex-1 ml-1.5">
    <a class="btn btn-ghost normal-case text-xl" href="/index">Beauty Review</a>
  </div>
 
 </div>
 <div class="mt-10">
 <section class="bg-white dark:bg-gray-900 put-down mt-15">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md ">
    <div class="text-center">
      <p class="fw-bolder text-xl">Welcome to <span class="font-bold">Beauty Review,</span><br>
         the <span class="font-bold">best</span>  place for Baddies to share their beauty <span class="font-bold">(Hair and Makeup)</span> service experience!</p>
      <p class="fw-bolder text-xl mt-5">Found a stylist or Makeup artist on Instagram? Seach their name to see what other baddies are saying about their services</p>
    </div>
    <div class='mt-10'>
 
  
  
    <div class="row justify-content-around mt-10">
        <a href="/login" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" > Login</a>
        <a href="/signup" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"> Signup</a>
    </div>

    
    </div>


  </main>
</div>
 </section>
</div>
 <div class="mt-12">
   

  
 </div>

</body>
</html>



