 <!-- <%- include('partials/header') -%> -->
 <!DOCTYPE html>
 <html lang="en">
  
   <head>
     <meta charset="UTF-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>Beauty Review</title>
     <link
       rel="icon"
       type="image/png"
       sizes="32x32"
       href="/imgs/pinkPorfile.png"
     />
 
     
     <link  href="/style.css" type="text/css" rel="stylesheet" />
     <link  href="/public/indexst.css" type="text/css" rel="stylesheet" />
      
 </head>
      <body class="ba">
      
      <div class="container flex flex-col px-6 py-10 mx-auto space-y-6 lg:h-[32rem] lg:py-16 lg:flex-row lg:items-center">
            
        <div class="navbar text-black justify-between ">
          <div class="flex-1 ml-1.5 bg-red">
            <a class="btn btn-ghost normal-case text-xl nvi" href="/">Beauty Review</a>
          </div>
        
        </div>
        
        <div class="mt-10 text-white con" >
        <section class=" dark:bg-gray-900 put-down mt-15 imgg">
          <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md ">
            <main>
            <div class="text-center tc">
              <p class="fw-bolder text-xl ">Welcome to <span class="font-bold">Beauty Review,</span></p>
               <p> The <span class="font-bold">Best</span>  Place For Baddies To Share Their Beauty Service Experience!</p>
              
            </div>
            <div class='mt-10'>
        
          
          
            <div class="row justify-content-around mt-10">
                <a href="/login" class="u but text-white bg-white-700 hover:bg-black-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-m w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" > Login</a>
                <a href="/signup" class="b but text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-m w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"> Signup</a>
            </div>
        
            
            </div>
            <div class="mt-5 text-center">
            <p class="mr-5 bold">To Explore site:</p>
            <span>Email: admin1@gmail.com</span>
            <p>Password: admin@123</p>
          </div>
        
        
          </main>
        </div>
        </section>
        </div>
        
            
      </div>
            
        

      
      




    </body>
</html>



