<%- include('partials/header') -%>

<main class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <section class="text-center lg:text-left">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-warning shadow-lg"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="alert alert-info"><%= el.msg %></div>
      <% }) %> <% } %>
      <form action="/login" method="POST">
        <div class="form-control my-2 ">
          <label for="exampleInputEmail1" class="label">
          </label>
          <label class="input-group input-group-vertical">
            <span>Email  </span>
            <input
            type="text"
            class="input input-bordered input-md move-left input-lg"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
            placeholder="Please enter Email"
          />
          </label>
         
        </div>
        


        <div class="form-control my-2">
          <label for="exampleInputPassword1"  class="label">
          </label>
          <label class="input-group input-group-vertical ">
            <span>Password</span>
            <input
            type="password"
            class="input input-bordered input-lg "
            id="exampleInputPassword1"
            name="password"
            placeholder="Please enter Password"
          />
          </label>
         
        </div>



        <label for="exampleInputPassword1"  class="input-group"></label>


        
        <button type="submit" class="btn btn-outline">Submit</button>

        
        
      </form>
    </section>
  </div>
</main>





<%- include('partials/footer') -%>
