<%- include('partials/header') -%>




<div >
  <p><strong>User Name</strong>: <%= user.userName %>
    
   
  </p>
  <!--
  <p><strong>Email</strong>: <%= user.email %></p>
  <a href="/logout" class="col-3 btn btn-primary">Logout</a>
  -->
</div>

<div class="bg-blue flex justify-end font-bold">


</div>
<div class="border-solid border-2 ">
  <div class="row mt-5">
      <div class="col-6">
        <div >

         
          
          <div class="ml-20">
            <h2 class="text-xl font-sans font-bold">Add a Review</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                <label for="serviceProvider" class="form-label font-bold"> Title:</label>
                <input class="textarea textarea-info ml-6" placeholder=""  name="serviceProvider">
              </div>
              <div class="mb-3">
                  <label for="title" class="form-label font-bold">Name of Provider:   </label>
                  <input class="textarea textarea-info ml-28" type="text" class="form-control" id="title" name="title" placeholder="IG Name">
              </div>
              
              <div class="mb-3">
                <label for="serviceProvider" class="form-label font-bold">Service</label>
                <select name="serviceProvider font-bold" id="serviceProvider">
                  <option value="Makeup font-bold">Makeup</option>
                  <option value="Hair font-bold">Hair</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="location" class="form-label font-bold">Location: City, State</label>
                <input class="textarea textarea-info ml-3" placeholder="Location"  name="location">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label font-bold"> experience</label>
                <textarea class="textarea textarea-info ml-20" placeholder="Bio"  name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label font-bold">Image</label>
                <input class="textarea textarea-info ml-28" type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-outline ml-40 font-bold" value="Upload">Add!</button>
            </form>
          </div>
      </div>

     
        
    
  
</div>  
</div>
</div>

<%- include('partials/footer') -%>