<%- include('partials/header') -%>


<p ><strong>Welcome</strong>: <%= user.userName.toUpperCase() %></p>


<section class="bg-white">
  

  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <form method="POST" action="/post/search">
      <input type="search" name="searchTerm"  class=" mb-5  md:hidden input   input-bordered mr-2 shadow-sm rounded-lg border-2 border-black w-full text-base p-2.5 focus:outline-black focus:right-2 focus:border-black" placeholder="Search review" aria-label="Search">
    </form>
     

    <h1 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"> Recently got your Hair or Makeup done? <span class="font-bold"></span></h1>
     <h3 class="text-3xl text-center">Write a Review!</h3>
   
   
   
   
   
    <div class="dropdown dropdown-bottom w-full">
     
      <form action="/post/createPost" enctype="multipart/form-data" method="POST" class="space-y-8  w-full">
        <div>
          <label for="serviceProvider" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Title</label>
          <input name="serviceProvider" class="shadow-sm rounded-lg border-2 border-black w-full text-base p-2.5 focus:outline-black focus:right-2 focus:border-black" placeholder="title" required>
        </div>
       
        <div> 
          <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Name of Provider:</label>
           <input type="text" id="title" name="title" placeholder="IG Name"  class="shadow-sm rounded-lg border-2 border-black w-full text-base p-2.5 focus:outline-black focus:right-2 focus:border-black"  required>
        </div>

        <div>
          <label for="service" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Service</label>
          <select name="service" id="service">
              <option>Options</option>
              <option value="Makeup ">Makeup</option>
              <option value="Hair">Hair</option>
          </select>
        </div>

        <div> 
          <label for="location" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Location:</label>
          <input type="text" id="location" name="location" placeholder="City,State"  class="shadow-sm rounded-lg border-2 border-black w-full text-base p-2.5 focus:outline-black focus:right-2 focus:border-black" required>
        </div>

        <div> 
          <label for="imgUpload" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Image:</label>
          <input type="file" id="imageUpload" name="file" placeholder="City,State" class="shadow-sm rounded-lg border-2 border-black w-full text-base p-2.5 focus:outline-black focus:right-2 focus:border-black" required>
        </div>

        <div>
          <label for="caption" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Experience:</label> 
          <textarea type="text" name="caption" id="caption" rows="6" placeholder="tell us about your experience!"  class="shadow-sm rounded-lg border-2 border-black w-full text-base p-2.5 focus:outline-black focus:right-2 focus:border-black" required></textarea>
        </div>
        <button type="submit" value="Upload" class=" cursor-pointer  focus-visible:ring-2 focus:outline-black focus-visible:ring-black border-2 border-black text-black p-2 rounded-lg  hover:bg-black hover:text-white w-56 text-center ">Add Review!</button>
      </form>
     </div>
  </div>

</section>
<%- include('partials/footer') -%>

 
